/*HERO*/

.hero {
  display: inline-block;
  color: $color-fuentes-titulos;
  position: relative;
  width: 100%;
}

h2 {
  margin-bottom: 0.5rem; 
  font-size: 3rem;
  font-weight: 400;
  color: $color-fuentes;
}

p {
  color: $color-fuentes;
  font-size: 2rem;
  margin: 2rem;
  font-size: 1.8rem;
}

.hero h2 span {
  font-weight: 800;
  padding: 0.5px;
  position: relative;
}

.containerHero {
  display: flex;
  margin-top: 0;
}


.botonLeer {
  position: absolute;
  bottom: 3rem; 
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: $color-botones;
  color: $color-fuentes;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.circoDescripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circoDescripcion h2 {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 600;
  color: $color-botones-sec;
}

.circoDescripcion p {
  max-width: 90%;
  margin-top: 10px;
}
