/* Medias Queries */

@media (max-width: 767px) {
    .encabezado {
        margin-top: 1rem;
    }

    .tituloPrincipal h1 {
        display: none;
    }

    .imagenMuestra {
        max-width: 90%;
        margin: auto;
    }

    .hero {
        margin-top: auto;
        position: relative;
    }

    .contenedorTienda {
        grid-template-columns: 2fr;
    }

    .galeria {
        margin-top: 1rem;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .contenedorTienda {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        margin: auto;
    }
}

@media (min-width: 407px) and (max-width: 1024px) {
    .descripcionP {
        display: block;
    }

    .botonLeer {
        display: none;
    }
}

@media (max-width: 406px) {
    .botonLeer {
        display: inline-block;
        opacity: 0.5;
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
        margin: 1rem;
        width: 100%;
    }

    .descripcionP {
        display: none;
    }

    .footer {
        align-items: center;
    }
}

@media (min-width: 406px) {

    /* galería */
    .galeria {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
}