$color-fondo: #8d99ae;
$color-fuentes-titulos: #edf2f4;
$color-fuentes: #2B2730;
$color-tarjetas: #667facc1;
$color-botones: #EDEDED;
$color-botones-sec: #1b263b;
$color-botones-tienda: #4e52de;
$color-redes: #73c2df;